<div class="container theme-logo">
  <div class="row center">
    <div class="col text-center">
      <h3 (click)="goTo(links.linked)">
        <i class="fa fa-linkedin smaller-icon" aria-hidden="true"></i>
      </h3>
    </div>
    <div class="col text-center">
      <h1 (click)="goTo(links.github)">
        <i class="fa fa-github" aria-hidden="true"></i>
      </h1>
    </div>
    <div class="col text-center">
      <h3 (click)="goTo(links.codepen)">
        <i class="fa fa-codepen smaller-icon" aria-hidden="true"></i>
      </h3>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col text-center">-->
      <!--<h6 class="text-center copyright">lip3k 2018</h6>-->
    <!--</div>-->
  <!--</div>-->
</div>


