<div class="card border-0 animated" [ngClass]="visible ? 'bounceIn' : 'hidden'">

  <div class="card-body border-0">
    <div class="row">
      <div class="col-2 border-right color-accent">
        <div (mousedown)="giveLove($event)"  class="animated center" [ngClass]="textVisible ? 'bounceIn' : 'hidden'">
          <h2 class="text-center clickable animated" [ngClass]="ratingVisible ? 'bounceIn' : 'hidden'"><span class="animated fa" [ngClass]="data.voted ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></span></h2>
          <h6 class="text-center animated" [ngClass]="ratingVisible ? 'bounceIn' : 'hidden'">{{ data.rating }}</h6>
        </div>
        <!--<hr>-->
        <!--<div (mousedown)="giveLove($event)">-->
          <!--<h2 class="text-center"><span class="animated fa" [ngClass]="data.comments.length > 0 ? 'fa-comment' : 'fa-comment-o'" aria-hidden="true"></span></h2>-->
          <!--<h6 class="text-center">{{ data.rating }}</h6>-->
        <!--</div>-->
      </div>
      <div class="col-10">
        <p class="text animated" [ngClass]="textVisible ? 'bounceIn' : 'hidden'">{{ data.text }}</p>
        <ul class="meta inline-list text-right animated" [ngClass]="metaVisible ? 'bounceIn' : 'hidden'">
          <li><i class="fa fa-calendar" title="Date posted" aria-hidden="true"></i> {{ getDisplayDate(data.postedOn) }}</li>
          <li><i class="fa fa-user-circle-o" title="Author" aria-hidden="true"></i> {{ data.author }}</li>
        </ul>

      </div>
    </div>

  </div>
</div>
