<div class="card border-0 animated" [ngClass]="visible ? 'bounceIn' : 'hidden'">

  <div class="card-body border-0">
    <div class="row">
      <div class="col-3 border-right color-accent">
        <h2 class="text-center" (mousedown)="giveLove($event)"><span class="animated fa" [ngClass]="data.voted ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></span></h2>
        <h6 class="text-center">{{ data.rating }}</h6>
      </div>
      <div class="col-9">
        <blockquote class="blockquote">
          <p class="mb-0 text">{{ data.text }}</p>
          <footer class="blockquote-footer text-right author">By <cite title="Source Title">{{ data.author }}</cite></footer>
        </blockquote>
      </div>
    </div>

  </div>
</div>
