/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import 'scss/themes.scss';

html {
  min-height: 100vh;
}

body {
  background: none !important;
  font-family: $font-primary;
}

.card {
  margin-bottom: 0.5rem;
  box-shadow: $default-shadow;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  .g-recaptcha {
    transform: scale(0.83);
    transform-origin: 0 0;
  }
}
