@import './variables';

@mixin themeSetup($base, $lighter, $accent) {
  .color-primary {
    color: $base !important;
  }
  .color-accent {
    color: $accent !important;
  }
  .background-primary {
    background-color: $base !important;
  }
  .outline-success {
    border-color: $base !important;
  }
  .outline-warning {
    border-color: $accent !important;
  }

  .toast-success {
    * {
      color: $color-green;
    }
    background-color: lighten($color-light-green, 35%);
  }

  .toast-error {
    * {
      color: $color-red;
    }
    background-color: lighten($color-light-red, 30%);
  }

  .submit-btn {
    background: none;
    color: $accent;
    border: 1px solid $accent;
  }

  .submit-enabled {
    background: $accent !important;
    color: $color-white !important;
  }

  .theme-logo {
    color: lighten($lighter, 10%) !important;
    text-shadow: 0 1px 0 darken($base, 10%);
  }
}

.theme {

  &--current {
    @include themeSetup(darken($color-white, 5%), $color-light-green, $color-purple);
  }

  &--silver-red {
    @include themeSetup(darken($color-white, 5%), $color-white, $color-red);
  }

  &--dark-pink {
    @include themeSetup($color-black, $color-light-black, $color-skin);
  }

  &--green-purple {
    @include themeSetup($color-green, $color-light-green, $color-purple);
  }

  &--yellow-red {
    @include themeSetup($color-yellow, $color-light-yellow, $color-red);
  }
}
