$color-primary: #4b7bec;
$color-accent: #eb3b5a;
$color-success: #2ed573;
$color-danger: #eb3b5a;

$color-white: #f1f2f6;
$color-text-primary: #2f3542;
$color-text-dim: #747d8c;


$font-primary: 'Open Sans';
$font-display: 'Gochi Hand';

$default-transition: all 100ms ease-in-out;
$default-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
