$color-text-primary: #2f3542;
$color-text-dim: #747d8c;

$font-primary: 'Quicksand';
$font-display: 'Pacifico';

$default-transition: all 100ms ease-in-out;
$default-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

$color-white: #fafafa;

$color-purple : #c56cf0;
$color-light-purple : #cd84f1;

$color-skin : #ffb8b8;
$color-light-skin : #ffcccc;

$color-red : #ff3838;
$color-light-red : #ff4d4d;

$color-orange : #ff9f1a;
$color-light-orange : #ffaf40;

$color-yellow : #fff200;
$color-light-yellow : #fffa65;

$color-green : #3ae374;
$color-light-green : #32ff7e;

$color-sky : #67e6dc;
$color-light-sky : #7efff5;

$color-blue : #17c0eb;
$color-light-blue : #18dcff;

$color-dk-blue: #7158e2;
$color-light-dk-blue : #7d5fff;

$color-black : #3d3d3d;
$color-light-black : #4b4b4b;
